body
{
    background-color: #cacaca;
}
.background
{
    height: 110px;
    background-color: dodgerblue;
    color: white;
}
.background2
{
    height: 150px;
    background-color:black;
    color: white;
}
.space
{
    height: 100px;
    background-color: #cacaca;
}
.white
{
    color: black;
    background-color: whitesmoke;
    height: 485px;
    width: 98%;
    margin-top: -8px;
}
.blue
{
    background-color: dodgerblue;

    color: black;
}
h5
{
    color: #67251a;
}
