body
{
    background-color: #cacaca;
}

.background
{
    height: 110px;
    background-color: dodgerblue;
    color: white;
}
.background2
{
    height: 150px;
    background-color:black;
    color: white;
}
.space
{
    height: 100px;
    background-color: #cacaca;
}
.white
{
    color: black;
    background-color: antiquewhite;
    border: dashed;
    height: 500px;
}
