body
{
    background-color: #cacaca;
}
.background
{
    height: 110px;
    background-color: dodgerblue;
    color: white;
}
.background2
{
    height: 150px;
    background-color:black;
    color: white;
}
.space
{
    height: 100px;
    background-color: #cacaca;
}
.white
{
    color: black;
    background-color: whitesmoke;
    height: 590px;
    width: 100%;
}
.blue
{
    background-color: dodgerblue;

    color: black;
}